@font-face {
    font-family: 'DIN Pro';
    src: url('fonts/DINPro.woff2') format('woff2'),
         url('fonts/DINPro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('fonts/DINPro-Bold.woff') format('woff2'),
         url('fonts/DINPro-Black.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    background: #1d1d25;
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'DIN Pro', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    --m-c: #1d1d25;
    --l-c: #353543;
    --l-ct: #23232d !important;
    --b-c: #6080ff;
    --t-c: #afb3ce;
    --shab-card: #2b2b36;
}

.t-b {
    font-family: 'DIN Pro', sans-serif;
}

.d-f {
    display: flex;
}

.f-c {
    flex-direction: column;
}

.f-r {
    flex-direction: row;
}

.a-c {
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    background: transparent;
    width: 100px;
    height: 100px;
}

.logo-icon {
    width: 35px;
}

.leftbar {
    background: linear-gradient(#353543, #222229 85%);
    width: 100px;
    height: 100vh;
}

.b-lb-c {
    position: relative;
    background: transparent;
    width: 45px;
    margin-top: 30px;
    gap: 10px;
}

.leftbar button {
    background: transparent;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    transition: 0.15s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftbar button:hover {
    background: var(--l-ct);
}

.leftbar button.active {
    background: var(--l-ct);
}

.shablon-menu-icon {
    width: 24px;
}

.sidebar-wrapper {
    position: relative;
    height: 100vh;
    width: 300px;
    overflow: hidden; 
    transition: width 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: width;
}

.sidebar-wrapper:not(.active) {
    width: 0;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(#23232d, #222229 85%);
    flex-shrink: 0; 
}

.toggle-menu {
    position: fixed;
    left: 380px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: var(--b-c);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition:
        left 0.5s cubic-bezier(0.16, 1, 0.3, 1),
        background 0.15s ease;
}

.toggle-menu:hover {
    background: #25252e;
}

.sidebar-wrapper:not(.active) ~ .toggle-menu,
.sidebar-wrapper:not(.active) .toggle-menu {
    left: 80px;
}

#sidebar:not(.active) ~ .content-main .btn-up,
#sidebar:not(.active) ~ .btn-up {
    left: 130px;
}

.menu1 {
    width: 300px;
    height: 100vh;
    background: transparent;
    margin: auto;
    display: none; 
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.menu1.active {
    display: flex !important;
    opacity: 1;
}

.info-logo-text {
    width: 250px;
    height: 40px;
    background: var(--l-c);
    margin-top: 25px;
    gap: 20px;
    border-radius: 5px;
}

.info-logo {
    margin-left: 20px;
}

.info-logo-text p {
    color: var(--b-c);
    font-size: 15px;
    font-weight: 700;
}

.btn-menu {
    position: relative;
    background: transparent;
    width: 250px;
    margin-top: 20px;
    justify-content: space-between;
    gap: 10px;
}

.btn-menu button {
    background: transparent;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    transition: 0.15s;
    gap: 10px;
    cursor: pointer;
}

.btn-menu button:hover {
    background: var(--l-c);
}

.btn-menu button:hover .img {
    background: var(--l-ct);
}

.btn-menu button:hover .text2 {
    color: var(--b-c);
}

.img {
    display: flex;
    background: var(--l-c);
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    transition: 0.15s;
    margin-left: 4px;
}

.menu-img {
    width: 17px;
}

.btn-text {
    background: transparent;
    width: 150px;
    height: 45px;
    justify-content: space-around;
    align-items: flex-start;
}

.text1 {
    font-size: 15px;
    color: var(--t-c);
    font-weight: 700;
    font-family: 'DIN Pro', sans-serif;
}

.text2 {
    font-size: 12px;
    color: var(--t-c);
    transition: 0.15s;
    font-weight: 500;
    font-family: 'DIN Pro', sans-serif;
    opacity: 80%;
}

.btn-text p {
    margin: 0;
}


.content-main {
    background: linear-gradient(#1d1d25, #222229 85%);
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    flex-shrink: 0;
}

.content-center {
    background: var(--l-c);
    width: 100%;
    flex-grow: 1;
    height: 40px;
    align-items: stretch;
    flex-shrink: 0;
}

.page1 {
    margin: 20px;
    background: transparent;
    height: 100%;
    flex-grow: 1;
    display: none; 
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    flex-shrink: 0;
}

.page1.active {
    display: flex !important;
    opacity: 1;
}

.pg-ru {
    width: 100%;
    height: 80px;
    background: var(--shab-card);
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    flex-shrink: 0;
}


.text-card {
    width: 200px;
    height: 50px;
    background: transparent;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 50px;
}

.text-card p {
    margin: 0;
}

.textt1 {
    font-size: 17px;
    color: var(--t-c);
    font-weight: 700;
}

.textt2 {
    font-size: 13px;
    color: var(--t-c);
    font-weight: 700;
    opacity: 80%;
}

.category {
    background: #17171d;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #afb3ce !important;
}

.cat-text {
    background: transparent;
    width: 120px;
    height: 40px;
    justify-content: flex-start;
    margin-left: 50px;
}

.text-cat {
    font-size: 17px;
    color: var(--t-c);
    font-weight: 500;
}

.c-btn {
    width: 150px;
    height: 40px;
    background: var(--m-c);
    border: none;
    justify-content: center;
    transition: 0.15s;
    cursor: pointer;
}

.c-text {
    font-size: 17px;
    color: var(--t-c);
    transition: 0.15s;
    font-weight: 500;
}

.c-btn:hover {
    background: var(--m-c);
}

.c-btn:hover .c-text {
    color: var(--b-c);
}

.c-btn.active {
    background: #353543 !important;
}

.c-btn.active .c-text {
    color: var(--b-c) !important;
}


.search {
    width: 150px;
    height: 40px;
    background: #17171d;
    margin-right: 20px;
}

#searchInput {
    background: transparent;
    border: none;
    outline: none;
    color: var(--t-c);
    font-size: 13px;
    width: 100%;
    margin-left: 10px;
}

#searchInputEN {
    background: transparent;
    border: none;
    outline: none;
    color: var(--t-c);
    font-size: 13px;
    width: 100%;
    margin-left: 10px;
}

#searchInput::placeholder {
    color: var(--t-c);
    opacity: 0.15s;
}

#searchInputEN::placeholder {
    color: var(--t-c);
    opacity: 0.15s;
}

.shab1 {
    position: relative;
    background: transparent;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 181px);
}

.shab-page-obshee {
    position: relative;
    width: 100%;
    background: transparent;
    display: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.shab-page-obshee.active {
    display: block;
    opacity: 1;
}


.shab-grid {
    position: relative;
    width: 100%;
    background: var(--shab-card);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    border: none;  
}

.shab-grid::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #afb3ce;
    transform: scaleY(0.3);
    transform-origin: bottom;
}

.shab-grid:hover {
    background: #25252e;
}

.shab-grid:hover .shab-name {
    filter: brightness(115%);
}

.shab-grid:hover .shab {
    filter: brightness(120%);
}


.shab-grid.hidden-grid {
    opacity: 0;
    visibility: hidden;
}

.shab-text-menu {
    position: relative;
    background: transparent;
    flex-grow: 1;
    align-items: flex-start;
}

.shab {
    color: var(--t-c);
    margin: 0 auto 30px 50px;
    font-family: 'DIN Pro', sans-serif;
    font-weight: 500 !important;
}

.shab-name {
    color: var(--b-c);
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'DIN Pro', sans-serif;
    font-weight: 400 !important;
}

.b-b {
    border-bottom: 1px dashed #afb3ce !important;
    padding-bottom: 20px;
}

.b-b-d {
    border-bottom: 1px dashed #afb3ce !important;
}

.bord {
    background: transparent;
    width: 250px;
}

.shab1::-webkit-scrollbar {
    width: 8px;
}

.shab1::-webkit-scrollbar-track {
    background: var(--shab-card);
}

.shab1::-webkit-scrollbar-thumb {
    background: #17171d;
    border-radius: 4px;
}

.copy-btn {
    background: var(--b-c);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    justify-content: center;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}

.copy-btn:hover {
    background: var(--m-c);
}

.copy-text {
    font-weight: 500;
    color: white;
    transition: color 0.15s ease-in-out;
}

.copy-btn:hover .copy-text {
    color: var(--b-c);
}

.copy-btn.active-click {
    background: var(--m-c) !important;
    transition: 0s;
}

.copy-btn.active-click .copy-text {
    color: var(--b-c) !important;
    transition: 0s;
}


.btn-up {
    position: fixed;
    left: 430px;
    bottom: 10px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background: var(--b-c);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}


.btn-up.show {
    opacity: 1;
    visibility: visible;
}

.btn-up:hover {
    background: var(--l-c);
}


/* Стиль самой подсветки */
.highlight {
    background-color: #ffcf40;
    color: #000;
    border-radius: 2px;
    padding: 0 2px;
    /* Привязываем анимацию: название, длительность 2с, завершение */
    animation: fadeHighlight 2s forwards; 
}

@keyframes fadeHighlight {
    0% {
        background-color: #ffcf40;
        color: #000;
    }
    70% {
        background-color: #ffcf40; /* Держим цвет 70% времени (1.4 сек) */
        color: #000;
    }
    100% {
        background-color: transparent; /* Плавно уходим в прозрачность */
        color: inherit; /* Возвращаем исходный цвет текста */
    }
}



/* Центрирование контейнера */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Светлый, спокойный фон */
    font-family: 'DIN Pro', sans-serif;
    width: 100%;
}

/* Анимация круга */
.loader {
    width: 40px;
    height: 40px;
    border: 2px solid #eeeeee;
    border-top: 2px solid #333333; /* Акцентный цвет */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Текст под лоадером */
.status-text {
    margin-top: 15px;
    font-size: 20px;
    color: #888888;
    letter-spacing: 1px;
    text-transform: lowercase; /* Нижний регистр для минимализма */
}

/* Логика вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.constructor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--shab-card);
    align-items: flex-start;
    gap: 20px;
}

.constructor-buttons {
    display: flex;
    position: relative;
    margin-left: 20px;
    background: transparent;
    gap: 10px;
}

#constructorArea {
    display: flex;
    width: 95%;
    height: 30%;
    margin: 20px;
    padding: 15px;
    background: var(--m-c);
    color: white;
    border-radius: 8px;
    font-family: 'DIN Pro', sans-serif;
    font-size: 16px;
    transition: border 0.3s;
    border: none;
    resize: vertical;
    outline: none;
}

#constructorArea::-webkit-scrollbar {
    width: 10px;
}

#constructorArea::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

#constructorArea::-webkit-scrollbar-thumb {
    background: var(--l-c);
    border-radius: 5px;
}

#constructorArea::-webkit-scrollbar-thumb:hover {
    cursor: auto;
}

#constructorArea:focus {
    outline: none;
}

.constructor-controls {
    flex-direction: row;
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.c1-btn {
    display: flex;
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 8px;
    border-color: var(--b-c);
    color: var(--b-c);
    cursor: pointer;
}

.ntb {
    background: var(--m-c);
}







